# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Database
db.sqlite3

# Django
*.log
staticfiles/

# Media (optional)
# media/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db
data.json
sqlite_backup.json